body {
    // background-image: url("/pages/assets/img/nvs/pattern/120px/blue_carbon_open_pattern_tile_120px.png");
    // background-image: url("/pages/assets/img/nvs/pattern/168px/");
    // background-image: url("../img/nvs/pattern/120px/blue_carbon_open_pattern_tile_120px.png");
    background-repeat: repeat-y;
    background-size: 120px auto;
    background-image: url("../img/nvs/pattern/168px/Novartis_Open_Carbon_Blue_168px.svg");
    background-color: #fff;
    background-position: -90px 0;
    overflow-y: scroll
}

.container-fluid,
.container {
    padding-left: 36px;
}

@include media-breakpoint-up(lg) {
    body {
        background-position: -45px 0;
    }

    .container-fluid,
    .container {
        padding-left: 75px;
    }
}

.banner {
    padding: 0;
    background: #c6c6c6;
    overflow: hidden;

    &.no-img {
        background: none;
    }

    .bg-image {
        display: none;
    }

    .tab {
        background-color: $nvs-blue;
        color: #fff;
        padding: 2.625rem 3.75rem;
        z-index: 1;

        h1,
        p,
        ul>li,
        a {
            color: #fff
        }

        h1 {
            font-size: 2.25rem;
            line-height: 3rem;
            font-weight: 600;
            margin-top: .375rem !important;
            margin-bottom: 2.25rem;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                display: inline-block;
                font-size: 1rem;
                line-height: 1.5rem;
                font-weight: 400;

                &+li {
                    &:before {
                        content: '/';
                        display: inline-block;
                        padding-right: .375rem;
                        color: #fff;
                    }
                }
            }
        }

        a {
            display: block;
            font-size: 1rem;
            line-height: 1.5rem;
            margin-bottom: .75rem;
            font-weight: 700;

            &:after {
                content: $arrow-character;
                font-weight: 700;
                display: inline-block;
                margin-left: 1.25rem;
                font-size: 1.25rem;
                line-height: 1;
                color: inherit;
            }

            &:hover {
                &:after {
                    animation-name: link-arrow-movement;
                    animation-duration: 700ms;
                    animation-timing-function: ease-in-out;
                    animation-iteration-count: infinite;
                    animation-direction: alternate;
                }
            }
        }
    }
}

@include media-breakpoint-up(md) {
    .banner {
        min-height: 60vh;

        &.no-img {
            min-height: 300px;
        }

        .bg-image {
            display: block;
        }

        .tab {
            position: absolute;
            background-color: $nvs-blue;
            left: 0;
            bottom: 3rem;
            color: #fff;
            max-width: 30.625rem;

            h1 {
                font-size: 2.25rem;
                line-height: 3rem;
            }

            p {
                padding-bottom: .75rem;
                margin-bottom: .75rem;
            }
        }
    }
}

p {


    a {
        font-weight: 700;

        &.lead {
            font-weight: 700;
        }

        color: $black;
        border-bottom: 1px solid $black;
        transition: $transition-base;

        &:hover {
            color: $black;
            border-bottom-color: transparent;
        }
    }

}

a.arrow {
    // font-family: 'Arial Black', $font-family-base;
    // font-weight: 700;

    &:after {
        content: $arrow-character;
        font-weight: 700;
        display: inline-block;
        margin-left: 1.25rem;
        // margin-bottom: 1.25rem;
        font-size: 1.75rem;
        color: #000;
    }

    &.card:after {
        margin-left: 0;
    }

    &:hover {
        &:after {
            animation-name: link-arrow-movement;
            animation-duration: 700ms;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
            animation-direction: alternate;
        }
    }
}