// 
// 
// dropdowns.scss
//
//

.dropdown-toggle {
    &.button {
        >.icon {
            &:last-child {
                transform: rotateZ(-90deg);
                margin: 0;
            }
        }
    }
}

.dropright {
    .dropdown-toggle {
        &.button {
            >.icon {
                &:last-child {
                    transform: rotateZ(180deg);
                }
            }
        }
    }
}

.dropup {
    .dropdown-toggle {
        &.button {
            >.icon {
                &:last-child {
                    transform: rotateZ(90deg);
                }
            }
        }
    }
}

.dropleft {
    .dropdown-toggle {
        &.button {
            >.icon {
                &:first-child {
                    transform: rotateZ(0deg);
                }
            }
        }
    }
}