footer {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #fff !important;
    * {
        box-sizing: border-box;
    }


    .footer-breadcrumb,
    .footer-body {
        // border-top: 1px solid 
        padding: .75rem 2.25rem !important;
        border-top: .0625rem solid rgba($nvs-black, .25);
    }

    .footer-breadcrumb {

        .breadcrumb {
            margin-left: -12px;
            margin-right: -12px;

            .breadcrumb-item {
                height: auto;
                padding: .875rem 0;
                font-size: 1rem;
                line-height: 1.375;
                font-weight: 700;
                color: $nvs-grey-dark;

                >a {
                    color: $nvs-black;
                    font-weight: inherit;
                    opacity: 1;
                }

                +.breadcrumb-item:before {
                    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 24 24' style='enable-background:new 0 0 24 24;' xml:space='preserve'%3E%3Cg id='black'%3E%3Crect x='1.9' y='11.4' width='19.1' height='1.1'/%3E%3Cpolygon points='16.9,16.5 16.9,7.5 22.1,12 '/%3E%3C/g%3E%3C/svg%3E%0A");
                    opacity: 1;
                    top: 0;
                    background-repeat: no-repeat;
                    transform: rotate(0deg);
                    margin: 0 .5rem;
                }
            }

        }
    }

    h3 {
        color: $nvs-black;
        font-weight: 700;
        margin-top: 0;
        margin-bottom: .75rem;
        font-size: 1.75rem;
        line-height: 2.25rem
    }

    h5 {
        color: $nvs-black;
        margin: .1875rem 0;
        font-size: 1rem;
        line-height: 2.25rem;
        font-weight: 600;
    }

    .footer-col {
        padding: 1.5rem;
        padding-left: 0;

        // padding-right: 1.5rem;
        &.footer-header {
            padding-top: .5rem;
            padding-bottom: 0;
        }
    }

    ul.nav {
        li.nav-item {
            .nav-link {
                color: $nvs-black;
                padding: .75rem 0;
                margin-bottom: .1875rem;
                border-bottom: 1px solid rgba($nvs-grey-dark, .25) !important;
                box-shadow: 0 0.0625rem 0 0 transparent;
                transition: $transition-base;

                &:not(.active) {
                    &:not(.disabled) {
                        &:not(:hover) {
                            opacity: 1;
                        }
                    }
                }

                &:hover {
                    box-shadow: 0 .0625rem 0 0 $nvs-black
                }
            }
        }
    }
}