.navbar-nav {
    .nav-link {
        border-bottom: 1px solid;
        border-bottom-color: transparent;
        font-weight: 700;
        transition: $transition-base;
        padding-right: 0 !important;
        padding-left: 0 !important;

        &:hover {
            color: $black;
            border-bottom-color: $black;
        }
    }

    .nav-item {
        padding-right: 1rem;
        padding-left: 1rem;
    }

    .dropdown-menu {
        .dropdown-item {
            font-weight: 700;
            color: $black;
            // border-bottom: 1px solid;
            transition: $transition-base;

            &:hover {
                color: $black;
                text-decoration: underline;
            }
        }
    }
}